<!DOCTYPE html>
<html>
<head lang="en">
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='mydesign.css')}}">
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='mylayout.css')}}">
	<title>{% block title %}{% endblock %}</title>
</head>

<body background="../static/images/PTE-MIK.jpg"> 
<div class="page">
	<header>University of Pecs - Faculty of Engineering and Information Technology</header>
	<nav>
		<a href="https://english.mik.pte.hu/news/portal">News</a>
		<a>Articles</a>
		<a href="https://www.google.com/search?q=pte+mik&source=lnms&tbm=isch&sa=X&ved=0ahUKEwja95_ZvoHhAhVj-ioKHfnDB7wQ_AUIDygC&biw=1920&bih=920">Pictures</a>
		
	</nav>
	<section>
		<h1>All you need to know</h1>
		<p>dsajdiondd jdsfhijasdbfd sckjsfjkdfjewhfd f,sdhfweafbjawebf fmndfjqwabjwf dfgw ewr iwereuwiher euwr 9yeuwrh qwehruewhqr iuweruwqeyriu qw eriuwqyeurhe wqyr 9yeuwrh urelqyeuyr ewhrfw fuiwyuirf ewfyoqowek;qwlpew fdsfn kdasjykew hrweyruwe riuwriwut riwriwe rhwo qiueqoi7r894 riewh ea fkagfaleyf eywf kawhfd jasfskj fuiew fadnf aueyr qweirhwqebrkqrtiq4roq;w fjkdbfiuwgfweqj fwi riwhwqhriuewrhuiwqer waeejd,fsdbfewifejabfjebarwuuuuuuuuuuuuuuuuuujkeam,nfdmshruhtuiwams,admnflefdsnfsm,daf sadfjfdsfjksf uheiueahrjkewhfjksd hfdshflwlehfoweahf lsafoi ejf lkafjldh jfn dhfe fjkb fkjsf jhfhewhfu ewiurywyr9ew roewhrh weuohr ewriew oielw;hewoirou turtfdjshfkewj ejwhroer aiuro waeruwe ousodia yeiry erhjke keufosdfb herwberuwhr ewyrhe </p>

		<img src= "{{url_for('static', filename = 'images/mik.jpg')}}" width="100%">
		<p>The refurbishment of the 20,000 m2 educational and research building complex was completed in 2007-2008 with an investment of 3.5 billion Hungarian forints. As part of the campus, the dormitory, which can accommodate 800 students, was renewed and double rooms with bathrooms were created. During the comprehensive refurbishment of the faculty buildings, classrooms were equipped with air conditioning and modern multimedia equipment. 
		State-of-the-art instruments and equipment were installed in the labs adjacent to the main educational building</p>
		
		<img src= "{{url_for('static', filename = 'images/int.jpg')}}" width="100%">
		

	</section>
	<footer>
		Simple website
	</footer>
</div>

</body>
</html>